input {
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-style: italic;
    color: blue;
}

body {
    background-color: beige;
}

#errFirstName, #errMiddleName, #errLastName, #errAddress, #errCity, #errState, #errEmail, #errPassword, #errConfirm {
    color: red;
    visibility: hidden;
}

